@model List<TestSystem.Models.Question>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuizQuestion</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/icono.min.css">
    <link rel="stylesheet" href="/css/scrolling-nav.css">
    <link rel="stylesheet" href="/css/student.css">          
    <link rel="stylesheet" href="/fonts/oswald_light/style.css">
    <link rel="stylesheet" href="/fonts/ostrich_sans/ostrich-sans.css">
    
</head>
@{
    var listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem { Text = "opt1", Value = "1" });
    listItems.Add(new SelectListItem { Text = "opt2", Value = "2" });
    listItems.Add(new SelectListItem { Text = "opt3", Value = "3" });
    listItems.Add(new SelectListItem { Text = "opt4", Value = "4" });
    }
<body >
    @{
        using (Html.BeginForm("EndQuiz", "Student", FormMethod.Post, new { id = "myForm" }))
        {
            <nav class="my-navbar navbar navbar-default navbar-fixed-top">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                
                    </button>
                  <a class="navbar-brand" href="#">Test.Taker</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#1">1<span class="sr-only">(current)</span></a></li>
                    <li ><a href="#2">2</a></li>
                    <li ><a href="#3">3</a></li>
                    <li ><a href="#4">4</a></li>
                    <li ><a href="#5">5</a></li>
                  </ul>
                
                  <ul class="nav navbar-nav navbar-right">
                      <li><p class="navbar-text" style="color:orange;" >Time Reamining:  <span id="timer" style="color:orange;font-size:25px;">0:0</span></p></li>
                      <li style="margin-right:5px;"><button type="submit"  class="btn btn-danger  navbar-btn" >Submit Quiz</button></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
            <div id="1" class="container-fluid text-center divdiv" >
                <div class="jumbotron divjumbotron" >
                    <h1>@Model[0].question1</h1>
                </div>
               
                <div class="funkyradio" style="width:30%;margin:auto">
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio1" id="radio11" value="1:@Model[0].questionid" />
                        <label for="radio11">Option A: @Model[0].opt1</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio1" id="radio12" value="2:@Model[0].questionid"/>
                        <label for="radio12">Option B: @Model[0].opt2</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio1" id="radio13" value="3:@Model[0].questionid" />
                        <label for="radio13">Option C: @Model[0].opt3</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio1" id="radio14" value="4:@Model[0].questionid" />
                        <label for="radio14">Option D: @Model[0].opt4</label>
                    </div>
                </div>  
            </div>
            <div id="2" class="container-fluid text-center divdiv" style="height:100vh">
                <div class="jumbotron divjumbotron" >
                    <h1>@Model[1].question1</h1>
                </div>
                <div class="funkyradio" style="width:30%;margin:auto">
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio2" id="radio21" value="1:@Model[1].questionid"/>
                        <label for="radio21">Option A: @Model[1].opt1</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio2" id="radio22" value="2:@Model[1].questionid"/>
                        <label for="radio22">Option B: @Model[1].opt2</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio2" id="radio23" value="3:@Model[1].questionid"/>
                        <label for="radio23">Option C: @Model[1].opt3</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio2" id="radio24" value="4:@Model[1].questionid"/>
                        <label for="radio24">Option D: @Model[1].opt4</label>
                    </div>
                </div>  
            </div>
            <div id="3" class="container-fluid text-center divdiv" style="height:100vh">
                <div class="jumbotron divjumbotron" >
                    <h1>@Model[2].question1</h1>
                    </div>
                <div class="funkyradio" style="width:30%;margin:auto">
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio3" id="radio31" value="1:@Model[2].questionid"/>
                        <label for="radio31">Option A: @Model[2].opt1</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio3" id="radio32" value="2:@Model[2].questionid"/>
                        <label for="radio32">Option B: @Model[2].opt2</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio3" id="radio33" value="3:@Model[2].questionid"/>
                        <label for="radio33">Option C: @Model[2].opt3</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio3" id="radio34" value="4:@Model[2].questionid"/>
                        <label for="radio34">Option D: @Model[2].opt4</label>
                    </div>
                </div>  
            </div>
            <div id="4" class="container-fluid text-center divdiv" style="height:100vh">
                <div class="jumbotron divjumbotron" >
                    <h1>@Model[3].question1</h1>
                    </div>
                <div class="funkyradio" style="width:30%;margin:auto">
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio4" id="radio41" value="1:@Model[3].questionid" />
                        <label for="radio41">Option A: @Model[3].opt1</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio4" id="radio42" value="2:@Model[3].questionid"/>
                        <label for="radio42">Option B: @Model[3].opt2</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio4" id="radio43" value="3:@Model[3].questionid" />
                        <label for="radio43">Option C: @Model[3].opt3</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio4" id="radio44" value="4:@Model[3].questionid" />
                        <label for="radio44">Option D: @Model[3].opt4</label>
                    </div>
                </div>  
            </div>
            <div id="5" class="container-fluid text-center divdiv" style="height:100vh">
                <div class="jumbotron divjumbotron" >
                    <h1>@Model[4].question1</h1>
                    </div>
                <div class="funkyradio" style="width:30%;margin:auto">
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio5" id="radio51" value="1:@Model[4].questionid"/>
                        <label for="radio51">Option A: @Model[4].opt1</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio5" id="radio52" value="2:@Model[4].questionid"/>
                        <label for="radio52">Option B: @Model[4].opt2</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio5" id="radio53" value="3:@Model[4].questionid"/>
                        <label for="radio53">Option C: @Model[4].opt3</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio5" id="radio54" value="4:@Model[4].questionid"/>
                        <label for="radio54">Option D: @Model[4].opt4</label>
                    </div>
                </div>  
            </div>
        
        }
    }
       
    <!--MY own javascript function-->
            
     @* <script src="/js/student.js"></script>*@
      <!-- jQuery library -->
      <script src="/js/jquery.min.js"></script>
      <script src="/js/test.js"></script> 
      <!-- Latest compiled JavaScript -->
      <script src="/js/bootstrap.min.js"></script>
      <!--SCROLLING BOOTSRAP CODE-->
      <script src="/js/scrolling-nav.js"></script>
      <script src="/js/jquery.easing.min.js"></script>
      <!-- Student Data uploading messages -->
      <script type="text/javascript"> window.onload = alertServer; </script>      
</body>
</html>
